.subtitle_bar{
    padding-left: 3em;
    color:#ffffff;
    background-color:#F69454;
    /* position: relative;相対位置 */
    /* padding-left: 1em;アイコン分のスペース */
    line-height: 4em;
    font-size: 1.3em;
    margin-bottom: 3em;
}

.btn--green {
    color: #FCFDFE;
    background-color: #739F3D;
    appearance: none;
    display: block;
    margin: auto;
    
}

.btn--green:hover {
    color: #FCFDFE;
    background-color: #598623;
}

.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn--circle {
    border-radius: 50%;
    line-height: 4em;
    width: 4em;
    height: 4em;
    /* padding: 0em; */
    font-size: 1em;
    -webkit-transition: all .3s;
    transition: all .3s;
    
}

.content{
    
    padding: 1em;
    width:70%;
    size: 500;
    background-color: #ffffff;
    margin-right: 1em;
}

